/* Barra di input (sopra) */
.md-search__form,
.md-search__input {
  background-color: #111827 !important;  /* scuro, come navbar */
  color: #f9fafb !important;
}

.md-search__input::placeholder {
  color: #9ca3af !important;
}

/* Contenitore dei risultati (parte grigio chiaro in basso) */
.md-search__scrollwrap {
  background-color: #020617 !important;  /* ancora più scuro */
}

/* Testo "Scrivi per iniziare a cercare" */
.md-search-result__meta {
  color: #e5e7eb !important;
}